:global(.just-comments) {
  --border-color: #ecebed;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ecebed;
  --secondary-bg-color-lighter: #ecebed33;

  --primary-color: #2b39a0;
  --primary-color-lighter: #6979f81a;
  --primary-color-light: #6979f80d;

  --primary-text-color: #1a051d;
  --secondary-text-color: #66606b;

  --outline-style: 3px var(--primary-color) dashed;
  --outline-offset: 3px;

  --button-border-radius: 6px;
  --input-border-radius: 6px;
  --bubble-border-radius: 10px;
  --user-pic-border-radius: 50%;

  --font-heading1-size: 22px;
  --font-heading1-line-height: 28px;
  --font-heading2-size: 15px;
  --font-heading2-line-height: 20px;

  --font-button1-size: 17px;
  --font-button1-line-height: 22px;
  --font-button2-size: 15px;
  --font-button2-line-height: 20px;
  --font-button3-size: 13px;
  --font-button3-line-height: 18px;

  --font-text1-size: 18px;
  --font-text1-line-height: 24px;
  --font-text2-size: 15px;
  --font-text2-line-height: 24px;
  --font-text3-size: 13px;
  --font-text3-line-height: 18px;

  --primary-button-color: var(--primary-bg-color);
  --primary-button-bg-color: var(--primary-color);
  --primary-button-hover-color: var(--primary-color);
  --primary-button-hover-bg-color: var(--primary-bg-color);
  --primary-button-border: 2px solid var(--primary-button-bg-color);
}

.fontHeading1 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-heading1-size);
  line-height: var(--font-heading1-line-height);
}

.fontHeading2 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-heading2-size);
  line-height: var(--font-heading2-line-height);
}

.fontButton1 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-button1-size);
  line-height: var(--font-button1-line-height);
}

.fontButton2 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-button2-size);
  line-height: var(--font-button2-line-height);
}

.fontButton3 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-button3-size);
  line-height: var(--font-button3-line-height);
}

.fontBody1 {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-text1-size);
  line-height: var(--font-text1-line-height);
}

.fontBody2 {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-text2-size);
  line-height: var(--font-text2-line-height);
}

.fontBody3 {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-text3-size);
  line-height: var(--font-text3-line-height);
}

.widget {
  max-width: 800px;
  box-sizing: border-box;
  padding: 5px;
}

.widget * {
  box-sizing: border-box;
}

.loadMore {
  margin-bottom: 30px;
}

.textareaContainer {
  position: relative;
  margin-bottom: 25px;
}

.textareaBtns {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

/* Input Style */
.inpt {
  background-color: var(--primary-bg-color);
  border-radius: var(--input-border-radius);
  border-style: solid;
  border: 1px solid var(--border-color);
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  height: 48px;
  padding: 12px 16px;
  color: var(--primary-text-color);
}

.inpt::placeholder {
  color: var(--secondary-text-color);
}

.inpt:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.inpt.dirty:invalid {
  border: 1px solid red;
}
/* End of Input Style*/

/* Button Style */
.btn {
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn .icon {
  fill: var(--primary-button-color);
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.btn:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.btn.small {
  height: 40px;
  width: 130px;
}

.btn.large {
  width: 100%;
  height: 48px;
}

.btn.primary {
  border-radius: var(--button-border-radius);
  border: var(--primary-button-border);
  background: var(--primary-button-bg-color);
  color: var(--primary-button-color);
}

.btn.primary:hover {
  background-color: var(--primary-button-hover-bg-color);
  border-color: var(--primary-button-bg-color);
  color: var(--primary-button-hover-color);
}

.btn.secondary {
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  padding-bottom: 1px;
}

.btn.secondary:hover {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 0;
}

.linkBtn:hover .icon {
  fill: var(--primary-button-hover-color);
}

.btn.primary:hover .icon {
  fill: var(--primary-button-hover-color);
}

.form {
  color: var(--primary-text-color);
  margin-left: 86px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.form.noUserPic {
  margin-left: 0;
}

.form.noSocial .left {
  width: 100%;
}

.form .left {
  position: relative;
  width: calc(50% - 31.5px);
}

.form .right {
  width: calc(50% - 31.5px);
  margin-bottom: 25px;
}

.form textarea.inpt {
  width: 100%;
  height: 117px;
  margin-bottom: 0;
}

.form label {
  display: block;
  width: 100%;
}

.form .inpt {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
}

.primary-text {
  color: var(--primary-text-color);
  opacity: 0.75;
}

.separator {
  position: relative;
  width: 35px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: var(--border-color);
  box-shadow: 1 0 rgba(0, 0, 0, 0.25);
}

.word {
  color: var(--primary-text);
  width: 35px;
  height: 57px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-style: none;
  border: none;
  background-clip: border-box;
}

.formPicContainer {
  margin-bottom: 22px;
}

.comment .menu {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-color);
  width: 120px;
  text-align: right;
  padding: 10px 0;
  border-radius: 2px;
}

.comment .menu.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comment .menu .menuBtn {
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  border: 0;
  background-color: transparent;
  padding: 1px 10px 0 1px;
  margin: 0;
  color: var(--primary-text-color);
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.comment .form {
  padding: 10px;
}

.menuBtn svg {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}

.comment .menu .menuBtn:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.comment .menu .menuBtn:hover {
  color: var(--primary-color);
  background-color: var(--primary-color-lighter);
}

.comment .buttons .reply {
  width: 56px;
}

.comment .buttons .like {
  width: 47px;
  position: relative;
}

.comment .buttons .more {
  width: 18px;
  position: relative;
}

.comment .buttons .menu {
  position: absolute;
  z-index: 100;
  top: 25px;
  right: 0;
}

.linkBtn {
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid transparent;
}

.linkBtn:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.linkBtn:hover {
  border-bottom: 1px solid var(--primary-color);
}

.btn.toggle {
  width: 32px;
  height: 32px;
  fill: var(--secondary-text-color);
}

.btn.toggle.on {
  fill: var(--primary-color);
}

/* End Button Style */

.userPic {
  margin-left: -86px;
  float: left;
  position: relative;
}

a.userPic {
  text-decoration: none;
}

a.userPic:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.userPic,
.userPic img,
.userPic svg.anon {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: var(--user-pic-border-radius);
}

.userPic .logout {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.userPic .logout svg.twitter,
.userPic .logout svg.fb {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.userPic svg.anon rect {
  fill: var(--primary-bg-color);
}

.userPic svg.anon path {
  fill: var(--secondary-text-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-text-color);
  padding: 43px 0 10px 0;
  margin-bottom: 33px;
}

.comment {
  max-width: 765px;
  margin-bottom: 30px;
  margin-left: 86px;
}

.comment.preview {
  margin-left: 0;
  margin-bottom: 0;
  min-height: 129px;
  padding-top: 1px;
}

.comment.noUserPic {
  margin-left: 0;
}

.comment.noUserPic .comment {
  margin-left: 30px;
}

.comment > .comment.first {
  margin-top: 30px;
}

.comment.deep {
  margin-left: 0;
}

.comment .userPic {
  margin-left: -102px;
}

.comment .bubble {
  background-color: var(--secondary-bg-color-lighter);
  border: 1px solid var(--border-color);
  border-radius: var(--bubble-border-radius);
  padding: 6px 12px 6px 16px;
  position: relative;
  min-height: 56px;
}

.comment .bubble.active {
  position: relative;
  background-color: var(--primary-color-light);
  border-left: 0;
}

.comment .bubble.active::before {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 3px;
  background-color: var(--primary-color);
  left: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.comment .buttons {
  padding: 6px 12px 0 16px;
  display: flex;
}

.comment .title {
  display: flex;
}

.comment .title .metadata {
  flex-grow: 1;
}

.comment .username {
  color: var(--primary-text-color);
  text-decoration: none;
}

.comment a.username {
  cursor: pointer;
}

.comment a.username:hover {
  text-decoration: underline;
}

.comment a.username:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.comment .date svg {
  width: 13px;
  height: 13px;
  fill: var(--secondary-text-color);
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.comment .date {
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
}

.comment .date:hover {
  text-decoration: underline;
}

.comment .date:focus {
  outline: var(--outline-style);
  outline-offset: var(--outline-offset);
}

.comment .content {
  color: var(--primary-text-color);
  opacity: 0.75;
  margin-top: 7px;
}

.comment .content * {
  word-wrap: break-word;
}

.comment .content p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.comment .content > *:first-child {
  margin-top: 0;
}

.comment .content > *:last-child {
  margin-bottom: 7px;
}

.comment .content strong {
  font-weight: bold;
}

.comment .content ul {
  box-sizing: inherit;
  margin: 0;
}

.comment .content ol {
  box-sizing: inherit;
  margin: 0;
}

.comment .content blockquote {
  box-sizing: inherit;
  margin: 0;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 5px solid var(--primary-text-color);
}

.comment .content a {
  box-sizing: inherit;
  color: var(--primary-text-color);
  border-bottom: 1px dotted var(--primary-text-color);
  cursor: pointer;
  text-decoration: none;
}

.comment .content a:hover {
  color: var(--primary-text-color);
}

.comment .content pre {
  line-height: 1.6;
  margin: 0.5em 0px;
  box-sizing: inherit;
}

.comment .content pre code {
  box-sizing: inherit;
}

.comment .collapse {
  white-space: nowrap;
}

.comment .collapse .btn {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

.comment .collapse span {
  color: var(--secondary-text-color);
}

.loading,
.attribution {
  width: 100%;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.text {
  color: var(--primary-text-color);
}

.attribution a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.attribution a:hover {
  color: var(--primary-color);
}

.form .right .btn {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  margin-top: 18px;
}

.form .row {
  display: flex;
  flex-wrap: wrap-reverse;
}

.form .row.last {
  align-items: center;
}

.form .row.last > .btn {
  margin-right: 10px;
}

.form .row.last > .btn.secondary {
  margin-left: 40px;
}

@media (max-width: 790px) {
  .comment {
    margin-left: 0;
  }

  .comment .buttons {
    padding: 6px 10px 6px 10px;
  }

  .comment .bubble {
    padding: 6px 10px 6px 10px;
  }

  .comment .userPic {
    margin-left: 0;
  }

  .form .separator {
    width: 100%;
    flex-direction: row;
    margin: 0;
  }

  .line {
    height: 1px;
    width: initial;
  }

  .form {
    margin-left: 0;
  }

  .userPic {
    margin-left: 0;
    margin-right: 10px;
  }

  .userPic,
  .userPic img,
  .userPic svg.anon {
    width: 40px;
    height: 40px;
  }

  .form .left {
    width: 100%;
  }

  .form .right {
    width: 100%;
    margin: 0;
  }

  .form label {
    margin-bottom: 0;
  }

  .form .row.last {
    margin-left: 50px;
  }

  .formPicContainer {
    display: flex;
    align-items: center;
  }

  .comment {
    margin-bottom: 22px;
  }

  .comment .comment {
    margin-left: 30px;
  }

  .comment > .comment.first {
    margin-top: 22px;
  }

  .comment .title .collapse span {
    display: none;
  }
}

@media (max-width: 375px) {
  .comment {
    margin-left: 0;
  }

  .comment .comment {
    margin-left: 15px;
  }

  .comment .comment.deep {
    margin-left: 0;
  }

  .form .row.last {
    margin-left: 0;
  }
}
