:global(.just-comments) {
  --primary-color: 105, 121, 248;
  --primary-bg-color: #ffffff;
  --primary-text-color: #1a051d;
  --secondary-text-color: #b6b1bb;
  --divider-color: 236, 235, 237;
  --outline-style: 3px rgb(var(--primary-color)) dashed;
}

.fontHeading1 {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
}

.fontHeading2 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

.fontHeading3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.fontHeading4 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.fontButton1 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.fontButton2 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.fontButton3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.fontButton4 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.fontBody1 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.fontBody2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.fontBody3 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.widget {
  max-width: 800px;
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--primary-bg-color);
}

.widget * {
  box-sizing: border-box;
}

.loadMore {
  margin-bottom: 30px;
}

/* Input Style */
.inpt {
  background-color: var(--primary-bg-color);
  border-radius: 6px;
  border-style: solid;
  border: 1px solid #ecebed;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  height: 48px;
  padding: 12px 16px;
}

.inpt::placeholder {
  color: var(--secondary-text-color);
}

.inpt:focus {
  outline-style: dashed;
  outline-width: 3px;
  outline-offset: 2px;
  outline-color: rgb(var(--primary-color));
}

.inpt.dirty:invalid {
  border: 1px solid red;
}
/* End of Input Style*/

/* Button Style */
.btn {
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.btn .icon {
  fill: var(--primary-bg-color);
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.btn:focus {
  outline: var(--outline-style);
}

.btn.small {
  height: 40px;
  width: 130px;
}

.btn.large {
  width: 100%;
  height: 48px;
}

.btn.primary {
  border-radius: 6px;
  border: 2px solid rgb(var(--primary-color));
  background: rgb(var(--primary-color));
  color: var(--primary-bg-color);
}

.btn.primary:hover {
  background-color: var(--primary-bg-color);
  border-color: rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

.link-btn:hover .icon {
  fill: rgb(var(--primary-color));
}

.btn.primary:hover .icon {
  fill: rgb(var(--primary-color));
}

.form {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  margin-left: 86px;
}

.form .left {
  position: relative;
  width: calc(50% - 31.5px);
}

.form .right {
  width: calc(50% - 31.5px);
  margin-bottom: 25px;
}

.form .input-group {
  display: flex;
  flex-direction: column;
}

.form textarea {
  width: 702px;
  height: 117px;
  margin-bottom: 25px;
}

.form label {
  margin-bottom: 22px;
}

.form .inpt {
  margin-bottom: 25px;
}

.primary-text {
  color: var(--primary-text-color);
  opacity: 0.75;
}

.middle {
  position: relative;
  width: 35px;
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.line {
  position: absolute;
  left: calc(50%);
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--secondary-text-color);
  z-index: 0;
  box-shadow: 1 0 rgba(0, 0, 0, 0.25);
}

.word {
  color: var(--primary-text);
  background-color: var(--primary-bg-color);
  width: 35px;
  height: 57px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-style: none;
  border: none;
  background-clip: border-box;
}

.comment .menu {
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(var(--divider-color), 1);
  width: 120px;
  text-align: right;
  padding: 10px 0;
  border-radius: 2px;
}

.comment .menu.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comment .menu .menu-button {
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  border: 0;
  background-color: transparent;
  padding: 1px 10px 0 1px;
  margin: 0;
  color: var(--primary-text-color);
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
}

.comment .form {
  padding: 10px;
}

.menu-button svg {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}

.comment .menu .menu-button:focus {
  outline: var(--outline-style);
}

.comment .menu .menu-button:hover {
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-color), 0.1);
}

.comment .buttons .reply {
  width: 56px;
}

.comment .buttons .like {
  width: 47px;
  position: relative;
}

.comment .buttons .more {
  width: 18px;
  position: relative;
}

.comment .buttons .menu {
  position: absolute;
  z-index: 100;
  top: 25px;
  right: 0;
}

.link-btn {
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
  background: var(--primary-bg-color);
  color: rgb(var(--primary-color));
  border: 1px solid transparent;
}

.link-btn:focus {
  outline: var(--outline-style);
}

.link-btn:hover {
  border-bottom: 1px solid rgb(var(--primary-color));
}

.btn.toggle {
  width: 32px;
  height: 32px;
  fill: var(--secondary-text-color);
}

.btn.toggle.on {
  fill: rgb(var(--primary-color));
}

/* End Button Style */

.userPic {
  margin-left: -86px;
  float: left;
}

.userPic,
.userPic img,
.userPic svg {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
}

.userPic svg rect {
  fill: var(--primary-bg-color);
}

.userPic svg path {
  fill: var(--secondary-text-color);
}

.header {
  border-bottom: 1px solid rgba(var(--divider-color), 1);
  color: var(--primary-text-color);
  padding: 43px 0 10px 0;
  margin-bottom: 33px;
}

.comment {
  max-width: 765px;
  margin-bottom: 30px;
  margin-left: 86px;
}

.comment > .comment.first {
  margin-top: 30px;
}

.comment.deep {
  margin-left: 0;
}

.comment .bubble {
  background-color: rgba(var(--divider-color), 0.4);
  border: 1px solid rgba(var(--divider-color), 1);
  border-radius: 10px;
  padding: 6px 12px 6px 16px;
}

.comment .bubble.active {
  position: relative;
  background-color: rgba(var(--primary-color), 0.05);
  border-left: 0;
}

.comment .bubble.active::before {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 3px;
  background-color: rgb(var(--primary-color));
  left: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.comment .buttons {
  padding: 6px 12px 0 16px;
  display: flex;
}

.comment .title {
  display: flex;
}

.comment .username {
  color: var(--primary-text-color);
}

.comment .date svg {
  width: 13px;
  height: 13px;
  fill: var(--secondary-text-color);
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.comment .date {
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-right: 10px;
}

.comment .date:hover {
  text-decoration: underline;
}

.comment .date:focus {
  outline: var(--outline-style);
}

.comment .content {
  color: var(--primary-text-color);
  opacity: 0.75;
  margin-top: 7px;
}

.comment .content * {
  word-wrap: break-word;
}

.comment .content p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.comment .content > *:first-child {
  margin-top: 0;
}

.comment .content > *:last-child {
  margin-bottom: 7px;
}

.comment .content strong {
  font-weight: bold;
}

.comment .collapse {
  margin-left: auto;
}

.comment .content ul {
  box-sizing: inherit;
  margin: 0;
}

.comment .content ol {
  box-sizing: inherit;
  margin: 0;
}

.comment .content blockquote {
  box-sizing: inherit;
  margin: 0;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 5px solid var(--primary-text-color);
}

.comment .content a {
  box-sizing: inherit;
  color: var(--primary-text-color);
  border-bottom: 1px dotted var(--primary-text-color);
  cursor: pointer;
  text-decoration: none;
}

.comment .content a:hover {
  color: var(--primary-text-color);
}

.comment .content pre {
  line-height: 1.6;
  margin: 0.5em 0px;
  box-sizing: inherit;
}

.comment .content pre code {
  box-sizing: inherit;
}

.comment .collapse .btn {
  width: 20px;
  height: 20px;
}

.attribution {
  width: 100%;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.attribution a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.attribution a:hover {
  color: rgb(var(--primary-color));
}

.form .right .btn {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  margin-top: 18px;
}

.form .row {
  display: flex;
  flex-wrap: wrap-reverse;
}

.form .row.last {
  align-items: center;
}

.form .row.last > .btn {
  margin-right: 10px;
}

@media (max-width: 790px) {
  .comment .buttons {
    padding: 6px 10px;
  }

  .comment .bubble {
    padding: 6px 10px;
  }

  .form .middle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .line {
    position: absolute;
    top: calc(50%);
    left: unset;
    right: unset;
    bottom: calc(50%);
    height: 1px;
    width: 100%;
  }

  .form {
    margin-left: 0;
  }

  .userPic {
    margin-left: 0;
    margin-right: 10px;
  }

  .userPic,
  .userPic img,
  .userPic svg {
    width: 40px;
    height: 40px;
  }

  .form .left {
    width: 100%;
  }

  .form .right {
    width: 100%;
    margin: 0;
  }

  .form label {
    margin-bottom: 0;
  }

  .pic-container {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }

  .comment {
    margin-bottom: 22px;
    margin-left: 30px;
  }

  .comment > .comment.first {
    margin-top: 22px;
  }
}

@media (max-width: 375px) {
  .comment {
    margin-left: 0;
  }

  .comment .comment {
    margin-left: 15px;
  }

  .comment .comment.deep {
    margin-left: 0;
  }
}
